header {
    position: relative;
    height: 300px;
    background-color: lightgray;
}

header h1, header p {
    padding-left: 40px;
}

h1 {
    margin-top: 40px;
}

nav {
    position: sticky !important;
    width: 100dvw;
    top: 0;
    left: 0;
    padding-left: 10px !important;
}

/* main */
main {
    height: auto;
}

#perso-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    width: 18rem;
}

.card-text {
    margin-bottom: 0;
}

.card-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h3, .card-content p {
    padding-left: 10px;
}

.card-content div:last-of-type  {
    position: relative;
    bottom: 0;
    background-color: rgb(237, 237, 237);
    padding: 10px 0;  
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly; 
}

/* form */
form {
    max-width: 700px;
    margin: 10px auto;
}

.form-group {
    margin-bottom: 10px;
}